[submodule "modules/sales"]
	path = modules/sales
	url = ../mern-module-sales.git
[submodule "modules/inventory"]
	path = modules/inventory
	url = ../mern-module-inventory.git
[submodule "modules/finance"]
	path = modules/finance
	url = ../mern-module-finance.git
